@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    align-items: center;
    background-color: #000;
    display: block;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.block {
    display: block !important;
}

.none {
    display:none !important
}

.flex {
    display: flex !important
}

.disabled {
    pointer-events: none;
} 

.active {
    opacity: 100% !important
}

/* FORM */

.form {
    background-color: #15172b;
    border-radius: 20px;
    padding: 20px;
    width: 320px;
    display:none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title {
    color: #eee;
    
    font-size: 36px;
    font-weight: 600;
}

.subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.c1 {
    margin-top: 40px;
}

.c2 {
    margin-top: 30px;
}

.input {
    background-color: #303245;
    border-radius: 12px;
    border: none;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.input:focus {
    border: 1px solid;  
}

.message {
    color: red;
    font-size: 10px;
    display: none;
    position: absolute;
}

.submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
}

.submit:active {
    background-color: #06b !important
}

/*HEADER*/

nav {
	background-color: #303245;
	height: 60px;
	position: fixed;
    width: 100%;
    z-index: 10;
    display: block;
}
 
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 160px;
    opacity: 0.9;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

#ham {
    display: inline-block;
    padding: 15px;
    cursor: pointer;
}

#ham a {
    text-decoration: none;
    font-size: 20px;
    color: #cdceb2;
}

#bar {
   	height: 60px;
	margin: 0;
	padding: 0;
	position: relative;
	float: right;
}

#bar li #logo {
    padding: 6.5px;
}

#logo img {
    width: 40px;
}

#bar li {
	float: left;
	list-style: none;
	position: relative;
}

#bar li :hover {
	background-color: #15172b;
    transition: .9s; 
}

#bar li a { 
	text-decoration: none;
	color: #cdceb2;
	font-size: 18px;
	padding: 16.5px;
	display: block;
}

/*BANNER SEARCH*/

#banner {
    width: 100%;
    height: 300px;
    background-image: url("../img/projektor.jpg");
    background-repeat: no-repeat;
    background-size: 700px 100%;
    background-position: center;
    display: block;
}

#movie {
    height: 50px;
    width: 700px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #eee;
    color: #303245;
    opacity: 0.8;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    font-size: 18px;
    outline: 0;
    padding: 4px 20px;
}

#sort {
    display: none;
    background-color: #eee;
    position: absolute;
    left: 50%;
    top: 32%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
    cursor: pointer;
}   

#banner button {
    position: absolute;
    left: 50%;
    top: 37%;
    transform: translate(-50%, -50%);
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100px;
    color: #cdceb2;
    opacity: 0.98;
}

/*MAIN*/
#stars{
    display: none;
}

#container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    padding: 20px 10px;
    margin: 10px;
    width: 250px;
    text-align: center;
    height: 405px;
}

.card img {
    width: 185px;
    height: 278px;
    cursor: pointer;
}

.card div {
    color: white;
}

 .movieTitle:hover{
    text-decoration: underline;
    cursor: pointer;
}

.addMovies {
    width: 20px;
    position: absolute;
    cursor: pointer;
    font-size: larger;
    background-color: #303245;
    border: none;
    opacity: 0.8;
}

.movieRating:hover {
    cursor: pointer;
    text-decoration: underline;
}

#stars a {
    cursor: pointer;
    opacity: 50%;
}

#stars:hover a {
    opacity: 100%;
}

#stars a:hover {
    opacity: 100%;
}

#stars a:hover ~ a {
    opacity: 50%;
  }

.addMovies:hover {
    background-color: #585c80;
    transition: .9s;
}

.genres {
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
    margin: 5px 5px 5px 0;
    display: inline-flex;
}

.cardDetails {
    padding: 20px 10px 20px 0;
    margin: 10px 0;
    width: 400px;
}

.cardDetails div {
    color: white;
}

.cardDetails button {
    top: 80px;
    width: 40px;
    height: 50px;
    font-size: 30px;
}


.cardDetails img {
    padding: 50px 0;
}

.detailTitle {
    font-size: 45px;
}

.cardDetails span {
    color: white;
}

iframe {
    width: 342px;
    height: 514px;
    position: relative;
    top: 80px;
    margin: 0 10px;
}

